body {
    background: linear-gradient(to right, #ffffff, #f1f1ff);
}

.tastoLogo {
    text-decoration: none;
    color: inherit;
    
}

/* .img-left {
    margin-left: 0; 
    position: relative;
    left: 0; 
} */

#titolone {}